.player__box {
  background-color: white;
  margin: auto;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 20px;
  width: fit-content;
  border-radius: 5px;
  color: #adaeb9;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.logo__box {
  height: 70px;
}

.logo {
  width: 300px;
  height: auto;
  float: right;
}
