/**
 * General variables
 $bdrds: 3px

 $white: #fff
 $black: #000
 $gray: #ccc
 $salmon: #e8716d
 $smoky-black: rgba(#222222, .85)
 
 $ff: 'Montserrat', sans-serif
 $ff-body: 12px
 $ff-light: 300
 $ff-regular: 400
 $ff-medium: 500
 
  * General configs
  */

body {
  font-family: "Montserrat";
  font-size: 12px;
  line-height: 1em;
}
