html,
body {
  min-height: 100%;
}

body {
  /* font-family: sans-serif;
  background: #42426b;
  background-image: -webkit-linear-gradient(135deg, #8067b7, #ec87c0);
  background-image: linear-gradient(-45deg, #8067b7, #ec87c0); */
  color: rgba(49, 42, 42, 0.5);
}

.rb_box {
  width: 80%;
  max-width: 420px;
  margin: 50px auto;
  padding: 1.3em;
  background: #292942;
  border-radius: 0.75em;
  -webkit-filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(1px 2px 5px rgba(0, 0, 0, 0.3));
  box-shadow: 0 2px 2px rgba(243, 49, 128, 0.5),
    0 0px 5px rgba(243, 49, 128, 0.15), 0 0px 4px rgba(0, 0, 0, 0.35),
    0 5px 20px rgba(243, 49, 128, 0.25), 0 15px 50px rgba(243, 49, 128, 0.75),
    inset 0 0 15px rgba(255, 255, 255, 0.05);
}

/* Custom Radio Button */
p {
  font-size: 20px;
}

.rb {
  padding: 16px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 0.3em;
}

.rb_tab {
  display: inline-block;
  position: relative;
  width: 10%;
}

.rb_txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #000000;
}

.rb_spot {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  background: transparent;
  border: 2px solid rgba(238, 17, 17, 0.3);
  border-radius: 100%;
  cursor: pointer;
  transition: ease 0.5s;
}

.rb-tab-active .rb-spot {
  background: rgba(0, 0, 0, 0.35);
  border: 2px solid rgba(243, 49, 128, 0.6);
}

/* Submit Button */
.button-box {
  padding: 10px 0;
  text-align: center;
}

button {
  display: inline-block;
  width: 80%;
  margin-top: 1.2em;
  padding: 1em;
  max-width: 220px;
  font-size: 0.9em;
  color: #d42d78;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  background: white;
  border: none;
  outline: none;
  border-radius: 5em;
  box-shadow: 0 15px 20px -10px rgba(0, 0, 0, 0.3);
  transition: color 0.6s, box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 5px -5px rgba(0, 0, 0, 0.3);
  color: #6f6f6f;
}
